@charset "ISO-8859-1";

html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

p {
	color: red;
}

h1 {
	color: navy;
	margin-left: 20px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

a:link {
	color: red;
}

/* visited link */
a:visited {
	color: green;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}

div.wrapper {
	position: absolute;
	top: 200px;
	left: 300px;
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

